<html>
	<head>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.5/angular.min.js"></script>
		<style>
			table, th, td {
				border: 1px solid black;
			}
			.wide-elem {
				width: 100%;
			}
		</style>
	</head>
	<body>
		<div ng-app="myApp" ng-controller="usersCtrl"> 
			<table>
				<button type="button" ng-click="getUsers()">Manually Refresh</button>
				<th>ID</th>
				<th width="250">Name</th>
				<th width="300">Email</th>
				<tr ng-repeat="user in users">
					<td>{{ user.id }}</td>
					<td>{{ user.name }}</td>
					<td>{{ user.email }}</td>
					<td>
						<button type="button" ng-click="deleteUser(user.id)">-</button>
					</td>
				</tr>
				<tr>
					<td></td>
					<td>
						<input class="wide-elem" type="text" ng-model="name" placeholder="name"></input>
					</td>
					<td>
						<input class="wide-elem" type="text" ng-model="email" placeholder="email"></input>
					</td>
					<td>
						<button class="wide-elem" type="button" ng-click="addUser(name, email)">+</button>
					</td>
				</tr>
			</table>
		</div>

		<script>
			var app = angular.module('myApp', []);
			app.controller('usersCtrl', UsersController);

			UsersController.$inject['$scope', '$http']
			function UsersController($scope, $http) {
				function getUsers() {
					$http.get("http://localhost:8080/rest/users").then(
						function (response) {
							$scope.users = response.data;
						}, function(reject) {
							alert(JSON.stringify(reject.data));
						}
					);
				}

				function addUser(name, email) {
					$http.post("http://localhost:8080/rest/users", {
						name : name,
						email: email
					}).then(
						function (result) {
							$scope.name = "";
							$scope.email = "";
							getUsers();
						},
						function (reject) {
							alert(JSON.stringify(reject.data));
						}
					);
				}

				function deleteUser(id) {
					$http.delete("http://localhost:8080/rest/users/" + id).then(
						getUsers,
						function (reject) {
							alert(JSON.stringify(reject.data));
						}
					);
				}
				
				getUsers();
				
				// scope function
				$scope.getUsers = getUsers; 
				$scope.addUser = addUser;
				$scope.deleteUser = deleteUser;
			}
		</script>

	</body>
</html>